<div class="container mt-4">
  <h2>Bill Support Analysis</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Primary Sponsor</th>
          <th>Supporting Legislators</th>
          <th>Opposing Legislators</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of bills$ | async">
          <td>{{ bill.id }}</td>
          <td>{{ bill.title }}</td>
          <td>{{ bill.sponsorName }}</td>
          <td>{{ bill.supportCount }}</td>
          <td>{{ bill.opposeCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
